# Informações do banco
DB_USER=user
DB_PASSWORD=senha
DB_ESTOQUE_NAME=nome_do_banco_estoque
DB_FATURAMENTO_NAME=nome_do_banco_faturamento

# Portas
PORT_FRONTEND=4200
PORT_GATEWAY=8080
PORT_ESTOQUE_API=5001
PORT_FATURAMENTO_API=5002
PORT_AI_API=8000

# Sua API do HF
HF_TOKEN=_token_aqui 

ASPNETCORE_ENVIRONMENT=Development