.dashboard-main-grid {
  @media (min-width: 1024px) {
    grid-template-columns: 2fr 1fr !important;

    .card:first-child {
      grid-column: 1 / 2;
    }

    .card:last-child {
      grid-column: 2 / 3;
    }
  }
}